# General
*~
.DS_Store

# Data directory
data
models

# DB file
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Numpy data
*.npy

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/
